<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="faq.css">
  <title>Answers to frequently asked questions</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet"> 
<link rel="icon" href="/images/main-logo.png" type="image/x-icon">
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="429bda28-e6dd-498c-a5f5-f56fdf91dfea";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body>
  <header>
    <div class="left_header">
      <a href="/">
        <img class="our-logo" src="/images/main-logo.png" alt="">
      </a>
      <nav class="header_nav">
        <ul>
          <li><a href="/reviews">Reviews</a></li>
          <li><a href="/guarantee">Guarantee</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <div class="for_nav">
          <a href="/">
            <span class="item_icon"></span>
            Genshin Impact
          </a>

        </div>
      </nav>
    </div>

    <div class="right_header">
      <div class="overlay" id="overlay">
        <div class="padding-overlay">
          <div class="first_y">
            <a href="/">
              <img class="our-logo" src="/images/main-logo.png" alt="">
            </a>
            <div class="close_y">
              <img src="https://cdn-icons-png.flaticon.com/128/11999/11999229.png" alt="">
            </div>
          </div>
          <div class="second_y">
            <div class="categories_label">Categories</div>
            <div class="genshin_go">
              <a href="/">
                <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ffbab8235ddc5c0290ecd6ceccc0a61a.png" alt="">
                <div class="plain_text">Genshin Impact</div>
              </a>
            </div>
          </div>
          <div class="third_y">
            <div class="sections_label">Sections</div>
            <div class="mob_site_navigation">
              <a href="/">Main Page</a>
              <a href="/reviews/reviews-show">Reviews</a>
              <a href="/faq">FAQ</a>
              <a href="/guarantee">Guarantee</a>
              <a href="/support">Support</a>
              <a href="/rules">Rules</a>
            </div>
          </div>
        </div>
      </div>
      <img class="mobile-image" src="https://cdn-icons-png.flaticon.com/128/8805/8805049.png" alt="">
    </div>
  </header>

  <main>
    <div class="top_about">
      <a href="/shop/Genesis-crystals-30960">Special offer - 30960 Genesis Crystals by UID  Don't forget to buy before November!</a>
    </div>
    <h1 class="title">Most frequent questions about <b>Genshin Impact</b></h1>

    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 How do I get Genesis Crystals?
        </div>
        <div class="accordion-description">
          Genesis Crystals or Gems are withdrawn to your UID in Genshin Impact.
          You can withdraw crystals to both your own account and to any other account by UID.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 How to use a promo code?
        </div>
        <div class="accordion-description">
          When purchasing bundles, a x2 bonus is activated, just like in the in-game store (if the same bundle hasn't been purchased before). 
          Promo codes allow you to get a x2 bonus even if such a bonus isn't available in the game, as the bonus is credited through the website. <br>
          Important: if you already have an x2 bonus in the game, the promo code won't be applied because the game's rules don't allow you to receive a x4 bonus.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 What items does the promo code apply to?
        </div>
        <div class="accordion-description">
          When purchasing bundles, a x2 bonus is activated, just like in the in-game store (if the same bundle hasn't been purchased before). 
          Promo codes allow you to get a x2 bonus even if such a bonus isn't available in the game, as the bonus is credited through the website. <br>
          Important: if you already have an x2 bonus in the game, the promo code won't be applied because the game's rules don't allow you to receive a x4 bonus.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 How many Genesis Crystals or Gems can be withdrawn?
        </div>
        <div class="accordion-description">
            From 300 Genesis Crystals and more.  
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 How quickly will the purchased item be credited to account?
        </div>
        <div class="accordion-description">
          All withdrawals are processed automatically, and the Primogems are sent to the UID you specified during the withdrawal or purchase in Genshin Impact.
          <br><br>
          In exceptional cases (technical issues), delivery may be delayed by several hours. Please be aware that in the event of an incorrect UID, the delivery time is extended. If you entered an incorrect UID, we can resend the crystals to your correct UID.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 Are you a fake?
        </div>
        <div class="accordion-description">
          No, we do not deceive anyone, and we strive to develop our project.
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-title">
          🔻 If you entered the wrong UID, what should you do?
        </div>
        <div class="accordion-description">
          Please contact our customer support, and they will definitely help you resolve your issue.
        </div>
      </div>
   
    </div>      
    
  </main>

  <footer class="site-footer">
    <div class="footer-content">
      <div class="footer_top">
        <a href="/">
          <img class="our-logo" src="/images/main-logo.png" alt="">
        </a>
        <div class="footer_navigation">
          <a href="/reviews">Reviews</a>
          <a href="/guarantee">Guarantee</a>
          <a href="/rules">Rules</a>
          <a href="/support">Support</a>
        </div>
        <div class="footer_comunity">
          <a class="telegram" href="/">
            <img src="https://cdn-icons-png.flaticon.com/128/3536/3536661.png" alt="">
          </a>
        </div>
      </div>

      <div class="footer_info">
        Looking for the moon or Genshin Impact crystals? 
        We always have creation crystals for Genshin Impact 
        (they can later be exchanged for primogems in the game itself), 
        you buy creation crystals and display them specifically on your UID 
        in the game. We instantly top up the UID for you! 
        Of course, in our store you can purchase creation crystals as a gift 
        or for yourself
      </div>
      <div class="footer_law_docs">
        <a class="first_l" href="/politcs-service">Privacy Policy</a>
        <a class="second_l" href="/terms-of-service">Terms of use</a>
      </div>
    </div>
  </footer>

  <div id="overlay"></div>
  <script src="/script.js"></script>

  
</body>
</html>