<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="rules.css">
  <title>Privacy Policy</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet"> 
<link rel="icon" href="/images/main-logo.png" type="image/x-icon">
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="429bda28-e6dd-498c-a5f5-f56fdf91dfea";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body>
  <header>
    <div class="left_header">
      <a href="/">
        <img class="our-logo" src="/images/main-logo.png" alt="">
      </a>
      <nav class="header_nav">
        <ul>
          <li><a href="/reviews">Reviews</a></li>
          <li><a href="/guarantee">Guarantee</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <div class="for_nav">
          <a href="/">
            <span class="item_icon"></span>
            Genshin Impact
          </a>

        </div>
      </nav>
    </div>

    <div class="right_header">
      <div class="overlay" id="overlay">
        <div class="padding-overlay">
          <div class="first_y">
            <a href="/">
              <img class="our-logo" src="/images/main-logo.png" alt="">
            </a>
            <div class="close_y">
              <img src="https://cdn-icons-png.flaticon.com/128/11999/11999229.png" alt="">
            </div>
          </div>
          <div class="second_y">
            <div class="categories_label">Categories</div>
            <div class="genshin_go">
              <a href="/">
                <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ffbab8235ddc5c0290ecd6ceccc0a61a.png" alt="">
                <div class="plain_text">Genshin Impact</div>
              </a>
            </div>
          </div>
          <div class="third_y">
            <div class="sections_label">Sections</div>
            <div class="mob_site_navigation">
              <a href="/">Main Page</a>
              <a href="/reviews/reviews-show">Reviews</a>
              <a href="/faq">FAQ</a>
              <a href="/guarantee">Guarantee</a>
              <a href="/support">Support</a>
              <a href="/rules">Rules</a>
            </div>
          </div>
        </div>
      </div>
      <img class="mobile-image" src="https://cdn-icons-png.flaticon.com/128/8805/8805049.png" alt="">
    </div>
  </header>


  <main>
    <div class="top_about">
      <a href="/shop/Genesis-crystals-30960">Special offer - 30960 Genesis Crystals by UID  Don't forget to buy before November!</a>
    </div>
    <h1 class="title">Privacy Policy.</h1>
    <div class="blocks">
      <div class="block1">
        <div class="title">Terms and Conditions.</div>
        <div class="description">
          <p>1.1 Personal Information: We may collect information that you provide to us when registering on the website, placing orders, or contacting us.</p>
          <p>1.2 Website Visit Information: We also collect data about your interactions with our website, including the browser, device type, date and time of visits, and the pages you visit.</p>
          <p>2.1 We use the collected information to process your orders, secure the website, improve the user experience, and provide you with information about our products and promotions.</p>
          <p>2.2 We do not sell, rent, or transfer your personal information to third parties without your consent, except as required by law.</p>
          <p>3.1 We take measures to protect your data from unauthorized access, loss, disclosure, or modification.</p>
          <p>4.1 We store your data only for the necessary period as specified by the applicable legislation.</p>
          <p>5.1 By using our website, you agree to our privacy policy.</p>
          <p>5.2 We reserve the right to make changes to our privacy policy. Any changes will be posted on this page.</p>
          <p>5.3 We do not collect information from individuals who are under the age of majority without the consent of their parents or legal representatives.</p>
          <p>6.1 We process payments through secure systems and do not store information about your credit card or other payment methods.</p>
          <p>7.1 You can request the deletion of your personal information from our systems.</p>
          <p>8.1 If you have questions regarding our privacy policy, please contact us.</p>
          <p>8.2 We regularly review and update our privacy policy as needed.</p>
        </div>
      </div>
    </div>
  </main>
  <footer class="site-footer">
    <div class="footer-content">
      <div class="footer_top">
        <a href="/">
          <img class="our-logo" src="/images/main-logo.png" alt="">
        </a>
        <div class="footer_navigation">
          <a href="/reviews">Reviews</a>
          <a href="/guarantee">Guarantee</a>
          <a href="/rules">Rules</a>
          <a href="/support">Support</a>
        </div>
        <div class="footer_comunity">
          <a class="telegram" href="/">
            <img src="https://cdn-icons-png.flaticon.com/128/3536/3536661.png" alt="">
          </a>
        </div>
      </div>

      <div class="footer_info">
        Looking for the moon or Genshin Impact crystals? 
        We always have creation crystals for Genshin Impact 
        (they can later be exchanged for primogems in the game itself), 
        you buy creation crystals and display them specifically on your UID 
        in the game. We instantly top up the UID for you! 
        Of course, in our store you can purchase creation crystals as a gift 
        or for yourself
      </div>
      <div class="footer_law_docs">
        <a class="first_l" href="/politcs-service">Privacy Policy</a>
        <a class="second_l" href="/terms-of-service">Terms of use</a>
      </div>
    </div>
  </footer>

  <div id="overlay"></div>
  <script src="script.js"></script>

  
</body>
</html>